<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/public/css/cadastro.css" media="screen" />
    <title>Cadastro</title>
</head>
<body>
    <div class="container">

      <h1>CADASTRO</h1>

      <input type="text" name="primeironome" id="primeironome" class="input" placeholder="Primeiro Nome" required>
      <input type="text" name="ultimoonome" id="ultimoonome" class="input" placeholder="Sobrenome" required>
      <input type="text" name="username" id="username" class="input" placeholder="Nome do Usuário" required>
      <input type="number" name="CPF" id="CPF" class="input2" placeholder="CPF" required>
      <input type="email" name="email" id="email" class="input2" placeholder="Email" required>
      <input type="password" name="senha" id="senha" class="input" placeholder="Senha" required>
      <input type="password" name="csenha" id="csenha" class="input" placeholder="Confirmar Senha" required>

      <a class="bot" href="#">Registrar</a>
      <a class="bot" href="#">Voltar</a>

    </div>
</body>
</html>
