<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <!---ionicons-->
    <link
      href="https://unpkg.com/ionicons@4.5.10-0/dist/css/ionicons.min.css"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      type="text/css"
      href="/public/css/faq.css"
      media="screen"
    />
    <title>FAQ</title>
  </head>
  <body>

    

    <div class="limitador">
      <div class="header">
        <a href="/" class="logo">ATTITOOLS</a>
        <div class="header-right">
          <a class="active" href="/faq">FAQ</a>
          <a class="active2" href="/empresas">Para Empresas</a>

          <a href="/login" class="branco">LOGIN</a>
          <a href="/contato" class="branco">Contate-nos</a>
          <a href="/faq" class="branco">Ajuda</a>
        </div>
      </div>
    </div>
    <section>
      <div class="container">
        <div class="accordiaon">
          <div class="accordion-item" id="question1">
            <a class="accordion-link" href="#question1">
              O que é o Attitools?
              <i class="icon ion-md-add"></i>
              <i class="icon ion-md-remove"></i>
            </a>
            <div class="answer">
              <p>
                Uma rede social voltada a ações solidárias. Através da
                plataforma, o usuário ganha um espaço exclusivo para a
                divulgação de ações solidárias, além de descobrir grupos sociais
                locais com interesses em comum.
              </p>
            </div>
          </div>

          <div class="accordion-item" id="question2">
            <a class="accordion-link" href="#question2">
              Como funciona o Attitools?
              <i class="icon ion-md-add"></i>
              <i class="icon ion-md-remove"></i>
            </a>
            <div class="answer">
              <p>
                Após o login, o usuário entra/cria um grupo de ajuda social, e
                após a ação são feitas as postagens no nosso feed. As postagens
                recebem “likes” que são trocadas em pontos, os quais podem ser
                trocados por cupons de colaboradores.
              </p>
            </div>
          </div>

          <div class="accordion-item" id="question3">
            <a class="accordion-link" href="#question3">
              Quanto custa?
              <i class="icon ion-md-add"></i>
              <i class="icon ion-md-remove"></i>
            </a>
            <div class="answer">
              <p>Todos os processos são gratuitos para os usuários.</p>
            </div>
          </div>

          <div class="accordion-item" id="question4">
            <a class="accordion-link" href="#question4">
              O que eu ganho ao usar o Attitools?
              <i class="icon ion-md-add"></i>
              <i class="icon ion-md-remove"></i>
            </a>
            <div class="answer">
              <p>
                Adquire oportunidades de conhecer causas locais e usuários com
                ambições semelhantes. Outro ponto é a bonificação das ações por
                meio de cupons das empresas colaboradoras. Por fim, os usuários
                ainda podem contar com experiências de voluntários em sua vida.
              </p>
            </div>
          </div>
          <div class="accordion-item" id="question5">
            <a class="accordion-link" href="#question5">
              Quem pode usar a Attitools?
              <i class="icon ion-md-add"></i>
              <i class="icon ion-md-remove"></i>
            </a>
            <div class="answer">
              <p>
                Livre para todos os públicos, com disponibilidade de tempo e que
                pretende causar um impacto ou por interesse em causas sociais.
              </p>
            </div>
          </div>
          <div class="accordion-item" id="question6">
            <a class="accordion-link" href="#question6">
              O que eu preciso para ter uma conta?
              <i class="icon ion-md-add"></i>
              <i class="icon ion-md-remove"></i>
            </a>
            <div class="answer">
              <p>
                Para ter uma conta, é necessário possuir 18 anos ou mais com RG
                e CPF ou possuir autorização dos responsáveis legais (menores de
                18).
              </p>
            </div>
          </div>
          <div class="accordion-item" id="question7">
            <a class="accordion-link" href="#question7">
              O que são os pontos?
              <i class="icon ion-md-add"></i>
              <i class="icon ion-md-remove"></i>
            </a>
            <div class="answer">
              <p>
                Os pontos são as recompensas pelas ações dos grupos. Seu intuito
                principal é incentivar os usuários à prática de solidariedade.
                Os pontos são entregues a partir da interação da comunidade no
                post da ação.
              </p>
            </div>
          </div>
          <div class="accordion-item" id="question8">
            <a class="accordion-link" href="#question8">
              Quem são as empresas parceiras?
              <i class="icon ion-md-add"></i>
              <i class="icon ion-md-remove"></i>
            </a>
            <div class="answer">
              <p>
                Empresas com produtos/serviços digitais que acreditam no poder
                da solidariedade
              </p>
            </div>
          </div>
          <div class="accordion-item" id="question9">
            <a class="accordion-link" href="#question9">
              Eu sou uma empresa, como posso participar?
              <i class="icon ion-md-add"></i>
              <i class="icon ion-md-remove"></i>
            </a>
            <div class="answer">
              <p>
                As empresas podem oferecer cupons de desconto para ser trocado
                com os pontos do projeto.
              </p>
            </div>
          </div>
          <div class="accordion-item" id="question10">
            <a class="accordion-link" href="#question10">
              Como entro em contato com o time Atitools?
              <i class="icon ion-md-add"></i>
              <i class="icon ion-md-remove"></i>
            </a>
            <div class="answer">
              <p>
                O site possui “Fale Conosco” para o envio de mensagens, como
                também através das nossas redes sociais (facebook, instagram,
                linkedin, twitter).
              </p>
            </div>
          </div>
        </div>
      </div>
    </section>
  </body>
</html>
