<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <!---ionicons-->
    <link href="https://unpkg.com/ionicons@4.5.10-0/dist/css/ionicons.min.css" rel="stylesheet">
    <link rel="stylesheet" href="style.css">
    <title>Responsive FAQ accordion</title>
</head>
<body>
    <section>
        <div class="container">
            <div class="accordiaon">
                <div class="accordion-item" id="question1">
                    <a class="accordion-link" href="#question1">
                        What are doing  now ?
                        <i class="icon ion-md-add"></i>
                        <i class="icon ion-md-remove"></i>
                    </a>
                    <div class="answer">
                        <p>
                            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Expedita odit sapiente distinctio quam. Placeat nisi atque quia accusantium praesentium facilis amet repellat ipsum laboriosam numquam! Lorem ipsum dolor sit, amet consectetur adipisicing elit. Non laudantium eius praesentium, cupiditate nisi ea at ratione ab quasi obcaecati quod sunt cum voluptatem provident. Lorem ipsum dolor sit amet consectetur adipisicing elit. Quo delectus non unde quasi iure, accusantium corrupti culpa repellat esse odio ex magni ratione beatae nostrum debitis veniam sint asperiores nam?
                        </p>
                    </div>
                </div>

                <div class="accordion-item" id="question2">
                    <a class="accordion-link" href="#question2">
                        How are you?
                        <i class="icon ion-md-add"></i>
                        <i class="icon ion-md-remove"></i>
                    </a>
                    <div class="answer">
                        <p>
                            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Expedita odit sapiente distinctio quam. Placeat nisi atque quia accusantium praesentium facilis amet repellat ipsum laboriosam numquam! Lorem, ipsum dolor sit amet consectetur adipisicing elit. Nisi cum saepe aliquid placeat accusantium voluptatibus laudantium porro voluptatum nihil consectetur, illo iusto ratione deserunt fuga tenetur. Eos excepturi itaque harum.
                        </p>
                    </div>
                </div>

                <div class="accordion-item" id="question3">
                    <a class="accordion-link" href="#question3">
                        What is the tempreature today ?
                        <i class="icon ion-md-add"></i>
                        <i class="icon ion-md-remove"></i>
                    </a>
                    <div class="answer">
                        <p>
                            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Expedita odit sapiente distinctio quam. Placeat nisi atque quia accusantium praesentium facilis amet repellat ipsum laboriosam numquam! Lorem ipsum dolor sit amet consectetur adipisicing elit. Fuga velit temporibus beatae dicta voluptas tempora nihil, iusto molestiae perferendis exercitationem, ea dolores incidunt eos delectus.
                        </p>
                    </div>
                </div>

                <div class="accordion-item" id="question4">
                    <a class="accordion-link" href="#question4">
                        What is your favorite color ?
                        <i class="icon ion-md-add"></i>
                        <i class="icon ion-md-remove"></i>
                    </a>
                    <div class="answer">
                        <p>
                            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Expedita odit sapiente distinctio quam. Placeat nisi atque quia accusantium praesentium facilis amet repellat ipsum laboriosam numquam! Lorem ipsum, dolor sit amet consectetur adipisicing elit. Cupiditate ipsum dicta nam enim iste facilis cum veniam officiis quam distinctio!
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </section>
</body>
</html>