
<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Attitools - Compartilhe sua Ação Social</title>
    
    <link rel="stylesheet" type="text/css" href="/public/lib/bootstrap/css/bootstrap.min.css" />
    <link href="/public/css/style.css" rel="stylesheet">
  </head>

  <body>
<div class="fundo">
    <div class="header">
      <div class="limitador">
        <a href="/" class="logo">ATTITOOLS</a>
        <div class="header-right">
         

          
          
        </div>
      </div>
    </div>

    <nav class="navbar navbar-default">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
      
           

            <li class="active">
              <a href="/feed">Home</a></li>
            <li><a href="/groups">Meus grupos</a></li>
            <li><a href="/members">Meus amigos</a></li>
            <li><a href="/descobrir">Descobrir</a></li>
            <li><a href="/photos">Minhas ações sociais</a></li>
            <li><a href="/pontos">Pontos e Colaboradores</a></li>
            <li><a href="/profile">Perfil</a></li>
            <li><a href="/" class="text-right">Sair</a></li>


            <li>
              <a href="/pontos"> <spam style></spam></a>
            </li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </nav>
  <div class="limitador">
 

  

    <section>
      <div class="container">
        <div class="row">
          <div class="col-md-8">
            <div class="panel panel-default">
              <div class="panel-heading">
                <h3 class="panel-title">Compartilhe sua ação social</h3>
              </div>
              <div class="panel-body">
                <form>
                  <div class="form-group">
                    
                    <textarea class="form-control" placeholder="Documente a ação social. Após a validação de autenticidade, seu post receberá os pontos conforme suas curtidas!"></textarea>
                  </div>
                  <button type="submit" class="btn btn-default">Enviar</button>
                  <div class="pull-right">
                    <div class="btn-toolbar">
                      <button type="button" class="btn btn-default"><i class="fa fa-pencil"></i>Selecionar grupo</button>

                      <button type="button" class="btn btn-default"><i class="fa fa-pencil"></i>Texto</button>
                      <button type="button" class="btn btn-default"><i class="fa fa-file-image-o"></i>Imagem</button>
                      <button type="button" class="btn btn-default"><i class="fa fa-file-video-o"></i>Vídeo</button>
                    </div>
                  </div>
                </form>
              </div>
            </div>
            <div class="panel panel-default post">
              <div class="panel-body">
                 <div class="row">
                   <div class="col-sm-2">
                     <a href="/perfil73721" class="post-avatar thumbnail"><img src="/public/img/rafa.jpg" alt=""><div class="nomeperfil text-center">Rafa o Brabo</div></a>
                     <div class="likes text-center">Curtidas: <b>30</b> <br> Pontos: <b>450</b></div>
                   </div>
                   <div class="col-sm-10">
                     <div class="bubble">
                       <div class="pointer">
                         <p<><img src="/public/img/rafa2.png" class="imgpost" alt="">Olá, eu sou o Rafa, faço parte do grupo <a href="#">"Educação Técnológica para Todos"</a> e essa foi a primeira aula.  </p>
                       </div>
                       <div class="pointer-border"></div>
                     </div>
                     <p class="post-actions"><a href="#">Comentar</a> - <a href="#">Curtir</a> - <a href="/documentacao"> Documentação </a> 
                      <div class="comment-form">
                       <form class="form-inline">
                        <div class="form-group">
                          <input type="text" class="form-control" placeholder="Comentar">
                        </div>
                        <button type="submit" class="btn btn-default">Enviar</button>
                      </form>
                     </div>
                     <div class="clearfix"></div>

                     <div class="comments">
                       <div class="comment">
                         <a href="perfil73721" class="comment-avatar pull-left"><img src="/public/img/rafa.jpg" alt=""></a>
                         <div class="comment-text">
                           <p>Estou com inscrições abertas!</p>
                         </div>
                       </div>
                       <div class="clearfix"></div>
                       <div class="comment">
                         <a href="#" class="comment-avatar pull-left"><img src="/public/img/eu.jpg" alt=""></a>
                         <div class="comment-text">
                           <p>Boa meu veio!!!</p>
                         </div>
                       </div>
                       <div class="clearfix"></div>
                     </div>
                   </div>
                 </div>
              </div>
            </div>
            <div class="panel panel-default post">
              <div class="panel-body">
                 <div class="row">
                   <div class="col-sm-2">
                     <a href="profile.html" class="post-avatar thumbnail"><img src="/public/img/pedro.png" alt=""><div class="nomeperfil text-center">Pedro Zotelli</div></a>
                     <div class="likes text-center">80 Curtidas</div>
                   </div>
                   <div class="col-sm-10">
                     <div class="bubble">
                       <div class="pointer">
                         <p><img class="imgpost" src="/public/img/pedrao.jpg"> Organizou gincanas esportivas com premiações para crianças carentes</p>
                       </div>
                       <div class="pointer-border"></div>
                     </div>
                     <p class="post-actions"><a href="#">Comentar</a> - <a href="#">Curtir</a> - <a href="/documentacao"> Documentação </a> - <a href="#"> Pontos: 45 </a> 
                      <div class="comment-form">
                       <form class="form-inline">
                        <div class="form-group">
                          <input type="text" class="form-control" placeholder="Comentar">
                        </div>
                        <button type="submit" class="btn btn-default">Enviar</button>
                      </form>
                     </div>
                     <div class="clearfix"></div>

                     <div class="comments">
                       <div class="comment">
                         <a href="#" class="comment-avatar pull-left"><img src="/public/img/sandra.jpg" alt=""></a>
                         <div class="comment-text">
                           <p>Parabéns Pedro!!!</p>
                         </div>
                       </div>
                       <div class="clearfix"></div>
                       <div class="comment">
                         <a href="perfil73721" class="comment-avatar pull-left"><img src="/public/img/rafa.jpg" alt=""></a>
                         <div class="comment-text">
                           <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                         </div>
                       </div>
                       <div class="clearfix"></div>
                     </div>
                   </div>
                 </div>
              </div>
            </div>
            <div class="panel panel-default post">
              <div class="panel-body">
                 <div class="row">
                   <div class="col-sm-2">
                     <a href="profile.html" class="post-avatar thumbnail"><img src="/public/img/elton.png" alt=""><div class="nomeperfil text-center">Elton Leal</div></a>
                     <div class="likes text-center">69 Likes</div>
                   </div>
                   <div class="col-sm-10">
                     <div class="bubble">
                       <div class="pointer">
                         <p><img class="imgpost" src="/public/img/elton2.png" alt="">Olá faço parte do grupo "Amigo dos Dogs - Surubim/PE" e construímos essa casinha para abrigo e alimentação dos cachorros em situação de rua</p>
                       </div>
                       <div class="pointer-border"></div>
                     </div>
                     <p class="post-actions"><a href="#">Comentar</a> - <a href="#">Curtir</a> - <a href="/documentacao"> Documentação </a> - <a href="#"> Pontos: 45 </a> 
                      <div class="comment-form">
                       <form class="form-inline">
                        <div class="form-group">
                          <input type="text" class="form-control" placeholder="Comentar">
                        </div>
                        <button type="submit" class="btn btn-default">Enviar</button>
                      </form>
                     </div>
                     <div class="clearfix"></div>

                     <div class="comments">
                       <div class="comment">
                         <a href="#" class="comment-avatar pull-left"><img src="/public/img/eu.jpg" alt=""></a>
                         <div class="comment-text">
                           <p>Parabéns Eltinho! </p>
                         </div>
                       </div>
                       <div class="clearfix"></div>
                       <div class="comment">
                         <a href="#" class="comment-avatar pull-left"><img src="/public/img/pedro.png" alt=""></a>
                         <div class="comment-text">
                           <p> Muito legal a iniciativa!</p>
                         </div>
                       </div>
                       <div class="clearfix"></div>
                     </div>
                   </div>
                 </div>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="panel panel-default friends">
              <div class="panel-heading">
                <h3 class="panel-title">Meus Amigos</h3>
              </div>
              <div class="panel-body">
                <ul>
                  
               
                  <li><a href="profile.html" class="thumbnail"><img src="/public/img/flavio.jpg" alt=""></a></li>
                  <li><a href="perfil73721" class="thumbnail"><img src="/public/img/rafa.jpg" alt=""></a></li>
                  <li><a href="profile.html" class="thumbnail"><img src="/public/img/elton.png" alt=""></a></li>
                  <li><a href="profile.html" class="thumbnail"><img src="/public/img/arthur.jpg" alt=""></a></li>
                  <li><a href="profile.html" class="thumbnail"><img src="/public/img/pedro.png" alt=""></a></li>
                  <li><a href="profile.html" class="thumbnail"><img src="/public/img/laura.jpg"alt=""></a></li>

                </ul>
                <div class="clearfix"></div>
                <a class="btn btn-default" href="#">Todos os Amigos</a>
              </div>
            </div>
            <div class="panel panel-default groups">
              <div class="panel-heading">
                <h3 class="panel-title">Grupos</h3>
              </div>
              <div class="panel-body">
                <div class="group-item">
                  <img src="img/group.png" alt="">
                  <h4><a href="#" class="gpnome">Projeto Praça Limpa</a></h4>
                  <p>Todos sábados de manhã vamos a até a praça Rui Barbosa para realizar uma limpeza e cuidar das plantas.</p>
                </div>
                <div class="clearfix"></div>
                <div class="group-item">
                  <img src="img/group.png" alt="">
                  <h4><a href="#" class="gpnome">Grupo Fome Zero na Vila Mariana</a></h4>
                  <p>Organizamos a produção e a distribuição de comida na região da Vila Mariana. Junte-se a nós!</p>
                </div>
                <div class="clearfix"></div>
                <div class="group-item">
                  <img src="img/group.png" alt="">
                  <h4><a href="#" class="gpnome">Carona para a Vacina</a></h4>
                  <p>Nosso grupo foi feito no intuito de oferecermos caronas para as pessoas irem se vacinar.</p>
                </div>
                <div class="clearfix"></div>
                <a href="#" class="btn btn-default">Todos os Grupos</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

   
  </div>
  <footer>
    <div class="container">
      <p>ATTITOOLS</p>
    </div>
  </footer>
    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <script src="js/bootstrap.js"></script>
  </div>
  </body>

</html>
