<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Pontos e Colaboradores</title>
    <link rel="stylesheet" type="text/css" href="/public/lib/bootstrap/css/bootstrap.min.css" />
    <link href="/public/css/style.css" rel="stylesheet">
  </head>
  <body>
    <div class="fundo">
      <div class="header">
        <div class="limitador">
          <a href="/" class="logo">ATTITOOLS</a>
          <div class="header-right">
          </div>
        </div>
      </div>
  

      <nav class="navbar navbar-default">
        <div class="container">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
          </div>
          <div id="navbar" class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
        
             
  
              <li>
                <a href="/feed">Home</a></li>
              <li><a href="/groups">Meus grupos</a></li>
              <li><a href="/members">Meus amigos</a></li>
              <li><a href="/descobrir">Descobrir</a></li>
              <li><a href="/photos">Minhas ações sociais</a></li>
              <li  class="active"><a href="/pontos">Pontos e Colaboradores</a></li>
              <li><a href="/profile">Perfil</a></li>
              <li><a href="/" class="text-right">Sair</a></li>
  
  
              <li>
                <a href="/pontos"> <spam style></spam></a>
              </li>
            </ul>
          </div><!--/.nav-collapse -->
        </div>
      </nav>
  <div class="limitador">
    <div class="patrocinadores">
      <div class="container-fluid">
        <h2 class="pat1">Troque seus pontos</h2>
        <div class="row">
          <div class="col-sm-4 text-center">
            <p>
              <img class="patimg" src="/public/img/uber2.png" width="200" />
            </p>
            <p class="valor">
              300 pontos
            </p>
            <a href="#" class="bot1"> <span class="criar">Trocar pontos</span> </a>
          </div>
          <div class="col-sm-4 text-center">
            <p>
              <img class="patimg" src="/public/img/uber4.png" width="200" />
            </p>
            <p class="valor">
              300 pontos
            </p>
            <a href="#" class="bot1"> <span class="criar">Trocar pontos</span> </a>
          </div>
          <div class="col-sm-4 text-center">
            <p>
              <img class="patimg" src="/public/img/uber7.png" width="200"/>
            </p>
            <p class="valor">
              300 pontos
            </p>
            <a href="#" class="bot1"> <span class="criar">Trocar pontos</span> </a>
          </div>
        </div>
      </div>
    </div>
    <div class="patrocinadores">
      <div class="container-fluid">
        <div class="row">
          <div class="col-sm-4 text-center">
            <p>
              <img class="patimg" src="/public/img/uber1.png" width="200" />
            </p>
            <p class="valor">
              700 pontos
            </p>
            <a href="#" class="bot1"> <span class="criar">Trocar pontos</span> </a>
          </div>
          <div class="col-sm-4 text-center">
            <p>
              <img class="patimg" src="/public/img/uber5.png" width="200" />
            </p>
            <p class="valor">
              700 pontos
            </p>
            <a href="#" class="bot1"> <span class="criar">Trocar pontos</span> </a>
          </div>
          <div class="col-sm-4 text-center">
            <p>
              <img class="patimg" src="/public/img/uber8.png" width="200" />
            </p>
            <p class="valor">
              700 pontos
            </p>
            <a href="#" class="bot1"> <span class="criar">Trocar pontos</span> </a>
          </div>
        </div>
      </div>
    </div>
    <div class="patrocinadores">
      <div class="container-fluid">
        <div class="row">
          <div class="col-sm-4 text-center">
            <p>
              <img class="patimg" src="/public/img/uber3.png" width="200" />
            </p>
            <p class="valor">
              1500 pontos
            </p>
            <a href="#" class="bot1"> <span class="criar">Trocar pontos</span> </a>
          </div>
          <div class="col-sm-4 text-center">
            <p>
              <img class="patimg" src="/public/img/uber5.png" width="200" />
            </p>
            <p class="valor">
              1500 pontos
            </p>
            <a href="#" class="bot1"> <span class="criar">Trocar pontos</span> </a>
          </div>
          <div class="col-sm-4 text-center">
            <p>
              <img class="patimg" src="/public/img/uber9.png" width="200" />
            </p>
            <p class="valor">
              1500 pontos
            </p>
            <a href="#" class="bot1"> <span class="criar">Trocar pontos</span> </a>
          </div>
        </div>
      </div>
    </div>
    <div class="patrocinadores">
      <div class="container-fluid">
        <div class="row">
          <div class="col-sm-4 text-center">
            <p>
              <img class="patimg" src="/public/img/uber10.png"  />
            </p>
            <p class="valor">
              2500 pontos
            </p>
            <a href="#" class="bot1"> <span class="criar">Trocar pontos</span> </a>
          </div>
          <div class="col-sm-4 text-center">
            <p>
              <img class="patimg" src="/public/img/uber11.png"  />
            </p>
            <p class="valor">
              2500 pontos
            </p>
            <a href="#" class="bot1"> <span class="criar">Trocar pontos</span> </a>
          </div>
          <div class="col-sm-4 text-center">
            <p>
              <img class="patimg" src="/public/img/uber12.png"  />
            </p>
            <p class="valor">
              5000 pontos
            </p>
            <a href="#" class="bot1"> <span class="criar">Trocar pontos</span> </a>
          </div>
        </div>
      </div>
    </div>
  </div>
    <footer>
      <div class="container">
        <p>ATTITOOLS</p>
      </div>
    </footer>
  </div>
  </body>
</html>