
<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Perfil Attitools</title>

    <link rel="stylesheet" type="text/css" href="/public/lib/bootstrap/css/bootstrap.min.css" />
    <link href="/public/css/style.css" rel="stylesheet">
  </head>

  <body>

    <div class="header">
      <div class="limitador">
        <a href="/" class="logo">ATTITOOLS</a>
        <div class="header-right">
         

          
          
        </div>
      </div>
    </div>

    <nav class="navbar navbar-default">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
      
           

         
            <li>
              <a href="/feed">Home</a></li>
            <li><a href="/groups">Meus grupos</a></li>
            <li><a href="/members">Meus amigos</a></li>
            <li><a href="/descobrir">Descobrir</a></li>
            <li><a href="/photos">Minhas ações sociais</a></li>
            <li><a href="/pontos">Pontos e Colaboradores</a></li>
            <li class="active"><a href="/profile">Perfil</a></li>
            <li><a href="/" class="text-right">Sair</a></li>

            <li><a href="/pontos"> <spam style></spam></a></li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </nav>
    <section>
      <div class="container">
        <div class="row">
          <div class="col-md-8">
            <div class="profile">
              <h1 class="page-header">Thiago Caetano</h1>
              <div class="row">
                <div class="col-md-4"> 
                  <img src="/public/img/eu.jpg" class="imgperfil" alt="">
                </div>
                <div class="col-md-8">
                  <ul class="infoperfil">
                    <li><strong>Nome:</strong> Thiago Caetano</li>
                    <li><strong>Email:</strong> thiago.caetano@acad.espm.br</li>
                    <li><strong>Instagram:</strong> thiagoc09</li>
                    <li><strong>Cidade:</strong> São Paulo</li>
                    <li><strong>Estado:</strong> SP</li>

                    <li><strong>Áreas de interesse:</strong> Causa Animal - Combate a fome - Educação Popular</li>
                    
                 
                  </ul>
                </div>
              </div><br><br>
              <div class="row">
                <div class="col-md-12">
                  <div class="panel panel-default">
                    <div class="panel-heading">
                      <h3 class="panel-title">Minhas Ações Sociais</h3>
                    </div>
                    <div class="panel-body">
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="panel panel-default friends">
              <div class="panel-heading">
                <h3 class="panel-title">Meus amigos</h3>
              </div>
              <div class="panel-body">
                <ul>
                  <li><a href="/perfil73721" class="thumbnail"><img src="/public/img/rafa.jpg" alt=""></a></li>
                  <li><a href="profile.html" class="thumbnail"><img src="/public/img/pedro.png" alt=""></a></li>
                  <li><a href="profile.html" class="thumbnail"><img src="/public/img/elton.png" alt=""></a></li>
                </ul>
                <div class="clearfix"></div>
                <a class="btn btn-default" href="#">Ver amigos</a>
              </div>
            </div>
            <div class="panel panel-default groups">
              <div class="panel-heading">
                <h3 class="panel-title">Meus Grupos</h3>
              </div>
              <div class="panel-body">
                <div class="group-item">
                  <img src="img/group.png" alt="">
                  <h4><a href="#" class=""></a></h4>
                  <p></p>
                </div>
                <div class="clearfix"></div>
                <div class="group-item">
                  <img src="img/group.png" alt="">
                  <h4><a href="#" class=""></a></h4>
                  <p></p>
                </div>
                <div class="clearfix"></div>
                <div class="group-item">
                  <img src="img/group.png" alt="">
                  <h4><a href="#" class=""></a></h4>
                  <p></p>
                </div>
                <div class="clearfix"></div>
                <a href="#" class="btn btn-default">Ver grupos</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <footer>
      <div class="container">
        <p>ATTITOOLS</p>
      </div>
    </footer>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <script src="js/bootstrap.js"></script>
  </body>
</html>
