.header {
    font-size: 25px;
    font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
    text-align: center;
    color: #D4973A;
    text-shadow: 1px 1px 1px rgba(0,0,0,0.5);
    
}

.formulario-geral {
    text-align: center;
    font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
    border: solid;
    border-width: thin;
    padding: 1em;
    border: 3px solid;
    border-color: #322F26;
    border-radius: 1em;
    margin: 0 auto;
    width: 400px;
    vertical-align: top;
    resize: vertical;
}
.botao {
    font-size: 1.5em;
    background: #D4973A;
    border: 0;
    margin-bottom: 1em;
    color: #FFF;
    padding: 0.2em 0.6em;
    box-shadow: 2px 2px 2px rgba(0,0,0,0.2);
    text-shadow: 1px 1px 1px rgba(0,0,0,0.5);
}
.botao2 {
    font-size: 1.5em;
    background: #D4973A;
    border: 0;
    margin-bottom: 1em;
    color: #FFF;
    padding: 0.2em 0.6em;
    box-shadow: 2px 2px 2px rgba(0,0,0,0.2);
    text-shadow: 1px 1px 1px rgba(0,0,0,0.5);
}
