body {
	background-color: #DFDCE3	;
}


.limitador {
	max-width: 1200px;
 	margin: 0px auto;
}


.header {
	overflow: hidden;
	background: linear-gradient(to left, #8DC26F, #e4ab56);background: linear-gradient(to left, #8DC26F, #e4ab56);	padding: 20px 10px;
  }
  
  .header a {
	float: left;
	color: black;
	text-align: center;
	padding: 12px;
	text-decoration: none;
	font-size: 18px; 
	line-height: 25px;
	border-radius: 4px;
  }
  
  .header a.logo {
	font-size: 25px;
	font-weight: bold;
	padding-left: 43px;
	color: #0e0b16;
	
  }
  
  .header a:hover {
	background: linear-gradient(to left, #8DC26F, #e4ab56);
	color: black;
  }
  
  .header a.active {
	background-color: dodgerblue;
	color: white;
	margin-right: 20px;
	padding:12px 66px 12px 66px;
	text-decoration:none; 
	margin-bottom: 20px;
  }
  .header a.active2 {
	background-color: rgb(255, 158, 30);
	color: white;
	margin-right: 14px;
  }
  
  .header-right {
	float: right;
  }
  
  @media screen and (max-width: 500px) {
	.header a {
	  float: none;
	  display: block;
	  text-align: left;
	}
	
	.header-right {
	  float: none;
	}
  }
  
	.sair {
	color: red;
  }
 
	.bot {
	background-color: #4717f6;
    color: white;
    margin-right: 20px;
    padding:12px 66px 12px 66px;
    text-decoration: none;
	border-radius: 5px;
  }
  
  @media screen and (max-width: 500px) {
	.header a {
	  float: none;
	  display: block;
	  text-align: left;
	}
	
	.header-right {
	  float: none;
	}
  }

  
.panel-heading{
	background: linear-gradient(to left, #8DC26F, #e4ab56);   
}

.panel-title {
	color: #322F26;
	font-weight: bold;
}

.bubble{
	position: relative;
	width: 580px;
	min-height: 65px;
	padding: 15px;
	background: #fff;
	border-radius: 10px;
	border: 1px solid #ccc;
}

.bubble:after{
	content:'';
	position: absolute;
	border-style: solid;
	border-width: 15px 15px 15px 0;
	border-color: transparent #fff;
	display: block;
	width: 0;
	z-index: 1;
	margin-top: -15px;
	left:-15px;
	top: 50%;
}

.bubble:before{
	content:'';
	position: absolute;
	border-style: solid;
	border-width: 15px 15px 15px 0;
	border-color: transparent #ccc;
	display: block;
	width: 0;
	z-index: 0;
	margin-top: -15px;
	left:-16px;
	top: 50%;
}

.post-actions{
	margin:5px;
}

.imgpost {
	width: 550px;
	height: 300px;
	padding-bottom: 20px;
}

.comment-form .form-group{
	width: 90%;
}

.comment{
	border: 1px solid #ccc;
	border-radius: 5px;
	padding: 3px;
	margin: 5px 0;
	overflow: auto;
	width:100%;
}

.comment-form input[type="text"]{
	width: 100%;
}

.comment-avatar img{
	width: 40px;
	margin-right: 5px;
}

.friends li{
	list-style: none;
	padding:0 5px;
	display:inline;
	float:left;
}

.friends img{
	width: 55px;
}

.groups img{
	width:80px;
	float:left;
	margin-right: 15px;
}

.group-item{
	padding-bottom: 10px;
	margin-bottom: 20px;
	border-bottom: 1px solid #ccc;
	overflow: auto;
}

.profile ul{
	margin-top: 30px;
}

.profile li{
	list-style: none;
	line-height: 1.9em;
}

.photos{
	margin: 0;
	padding: 0;
}

.photos li{
	list-style: none;
	float: left;
	margin:5px;
	width: 23%;
}

.photos img{
	width:100%;
}

footer{
	background: #f4f4f4;
	height: 90px;
	color: #D4973A;
	font-weight: bold;
	text-align: center;
	padding-top: 40px;
	margin-top: 30px;
	border-top: 7px solid #D4973A;
}

.members .member-row{
	border-bottom: 1px solid #ccc;
	padding-bottom: 20px;
	margin-bottom: 20px;
}

.members img{
	margin-bottom: 5px;
}

@media(min-width: 991px){
  .members p{
	padding-top: 40px;
	}
}

.page-header{
	font-size: 24px;
}

